<div ng-controller="ListController as listCtrl" class="amfm-list">
    <h2 class="current-path">{{path}}</h2>
    <ul class="list">
        <li ng-if="path && path != '/'"><a href="" ng-click="listCtrl.changeDir('..')" class="up"></a></li>
        <li ng-repeat="f in files" ng-class-even="'item-even'" ng-class-odd="'item-odd'" class="item">
            <a ng-show="f.directory" href="" ng-click="listCtrl.changeDir(f.name)">{{f.name}}</a>
            <span ng-show="!f.directory">{{f.name}}</span>
        </li>
    </ul>
</div>